.catalog {
   width: 100%;
   display: block;
   overflow: hidden;
   text-overflow: ellipsis;
}

.catalog span {
   margin-left: 10px;
   font-size: 15px;
   font-weight: bolder;
   cursor: pointer;
   float: left;
}

.null {
   margin-left: 35%
}

.time {
   float: right;
   font-size: 14px;
   color: #a9a9a9;
}

.color {
   color: red;
}

a {
   -webkit-user-select: none;
   -webkit-tap-highlight-color: rgba(200, 200, 200, 0);
}

.wy_fr {
   float: right;
}

.wy_fl {
   float: left;
}

.title {
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
}