.catalog span {
	margin-left: 10px;
	color: #303030;
	font-size: 17px;
	font-weight: bolder;
	cursor: pointer;
}

.null {
   margin-left: 35%
}

.time {
	float: right;
	font-size: 14px;
	color: #a9a9a9;
}