blockquote {
   background-color: #ffffff;
   font-size: 16px;
   border: 1px solid #a9a9a9;
   border-radius: 5px;
   font-family: Microsoft YaHei;
}

blockquote ul {
   margin-bottom: 0px;
}

pre {
   padding: 20px 10px 0px 10px;
   margin-bottom: 20px;
   background-color: #ffffff;
   border: 1px solid #a9a9a9;
   border-radius: 5px;
}

pre code {
   padding 0px;
   margin-bottom: 0px;
   background-color: #ffffff;
   color: #000000;
}

.author .back {
   font-size: 15px;
   float: right;
}

.title {
   text-align: center;
}

.author span {
   font-size: 14px;
   color: #000000;
}

.time span {
   font-size: 14px;
   color: #000000;
}

.border-none {
   border: none;
}

h3 {
   position: relative;
}

h3 a {
   display: block;
   white-space: nowrap;
   width: 60%;
   overflow: hidden;
   text-overflow:ellipsis;
}

h3 span {
   position: absolute;
   bottom: 20%;
   right: 10px;
}